﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@Localizer["Privacy Policy"]</h1>

<p>@Localizer["Use this page to detail your site's privacy policy."]</p>
