﻿
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<Flags>
@{
    ViewData["Title"] = "Entertainment2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

<h1>@Localizer["mess"]</h1>

<ul>
    @foreach (var songs in Model)
    {   
        
        <li>@songs.Sname</li>
    }
</ul>

<ul class="pagination">
      <li class="active"><a href="#">1</a></li>
      <li ><a asp-area="" asp-controller="Flag" asp-action="Entertainment2">2</a></li>
</ul>

