﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Entertainment2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["List of movies:-"]</h1>
<ol>
    <li>@Localizer["Avengers"]</li>
    <li>@Localizer["The Imitation Game"]</li>
    <li>@Localizer["Ford vs Ferrari"]</li>
</ol>

 <ul class="pagination">
        <li ><a asp-area="" asp-controller="Flag" asp-action="Entertainment">1</a></li>
        <li class="active"><a asp-area="" asp-controller="Flag" asp-action="Entertainment2">2</a></li>
 </ul>


